{% extends 'GamingProfession/base.html' %}
{% load static tailwind_tags %}

{% block title %}
    Главная страница
{% endblock %}


{% block content %}

    <section class="border-b border-gray-300 pb-3 mb-3">
        <div class="flex">
            <div class="w-3/5 mr-5">
                <h2 class="font-bold text-4xl mb-6 ml-4">Разработчик игр (Gamedev)</h2>

                <p class="mb-2">
                    Разработчик игр (Gamedev) – это специалист, отвечающий за создание программного кода и визуализацию
                    игры.
                    Обычно
                    в разработке игры участвует команда – проджект-менеджеры, художники, геймдизайнеры, тестировщики,
                    звукорежиссеры, копирайтеры и многие другие. Разработчик игр занимается программированием визуальных
                    эффектов и
                    анимации, «оживлением» персонажей и монстров, делает интерфейс, управляет быстродействием игры и
                    т.д.
                </p>

                <p class="mb-2">
                    Gamedev, осуществляющий разработку игры в одиночку, должен быть ещё большим универсалом и помимо
                    основных
                    навыков, уметь самостоятельно создавать концепцию и дизайн игры, владеть основами юриспруденции,
                    понимать
                    процедуру получения патента на готовый проект.
                </p>

                <p class="mb-2">
                    Профессия разработчика игр особо востребована в сфере онлайн-игр и является одной из наиболее
                    набирающих
                    популярность на рынке труда. Независимые разработчики игр делают преимущественно мобильные игры и
                    небольшие
                    инди-проекты.
                </p>
            </div>
            <div class="w-2/6">
                <img class="rounded-lg" src="{% static 'images/game-developer 1.png' %}" alt="">
            </div>
        </div>
    </section>

    <section class="border-b border-gray-300 pb-3 mb-3">
        <h2 class="font-bold text-2xl mb-3 ml-4">
            Специфика профессии
        </h2>

        <p class="mb-2">
            Для создания простых игр разработчику достаточно знать программирование на популярном в геймдеве языке, но
            если
            он хочет зарабатывать больше на сложных, масштабных проектах, то много времени придется уделять получению
            новых
            знаний:
        </p>

        <div class="flex flex-wrap gap-x-9 gap-y-4 justify-center w-3/4 mx-auto mb-2">
            <div class="h-52 w-52 p-2 bg-gray-200 rounded-xl flex flex-col justify-center shadow duration-300 hover:bg-gray-100 hover:shadow-xl">
                <img class="mx-auto" src="{% static 'images/game-plan.png' %}" width="72" alt="">
                <span class="mt-6 text-sm font-semibold text-center">Инструмент Unity и другие движки, которые необходимы для создания 2D- и 3D-игр</span>
            </div>

            <div class="h-52 w-52 p-2 bg-gray-200 rounded-xl flex flex-col justify-center shadow duration-300 hover:bg-gray-100 hover:shadow-xl">
                <img class="mx-auto" src="{% static 'images/oop.png' %}" width="72" alt="">
                <span class="mt-6 text-sm font-semibold text-center">Объектно-ориентированное программирование</span>
            </div>

            <div class="h-52 w-52 p-2 bg-gray-200 rounded-xl flex flex-col justify-center shadow duration-300 hover:bg-gray-100 hover:shadow-xl">
                <img class="mx-auto" src="{% static 'images/coding.png' %}" width="72" alt="">
                <span class="mt-6 text-sm font-semibold text-center">Языки программирования C#, C++, Java и другие</span>
            </div>

            <div class="h-52 w-52 p-2 bg-gray-200 rounded-xl flex flex-col justify-center shadow duration-300 hover:bg-gray-100 hover:shadow-xl">
                <img class="mx-auto" src="{% static 'images/optimization.png' %}" width="72" alt="">
                <span class="mt-6 text-sm font-semibold text-center">Оптимизация 2D- и 3D-игр</span>
            </div>

            <div class="col-start-2 h-52 w-52 p-2 bg-gray-200 rounded-xl flex flex-col justify-center shadow duration-300 hover:bg-gray-100 hover:shadow-xl">
                <img class="mx-auto top-0" src="{% static 'images/3d-modeling.png' %}" width="72" alt="">
                <span class="mt-6 text-sm font-semibold text-center">3D-редакторы</span>
            </div>

            <div class="h-52 w-52 p-2 bg-gray-200 rounded-xl flex flex-col justify-center shadow duration-300 hover:bg-gray-100 hover:shadow-xl">
                <img class="mx-auto" src="{% static 'images/animation.png' %}" width="72" alt="">
                <span class="mt-6 text-sm font-semibold text-center">Этапы проектировки игрового процесса, анимации, физики и других аспектов игры</span>
            </div>

            <div class="h-52 w-52 p-2 bg-gray-200 rounded-xl flex flex-col justify-center shadow duration-300 hover:bg-gray-100 hover:shadow-xl">
                <img class="mx-auto" src="{% static 'images/mobile-coding.png' %}" width="72" alt="">
                <span class="mt-6 text-sm font-semibold text-center">Основы разработки игр для мобильных устройств и многое другое</span>
            </div>
        </div>
    </section>

    <section class="border-b border-gray-300 pb-3 mb-3">
        <h2 class="font-bold text-2xl mb-3 ml-4">
            Плюсы и минусы профессии
        </h2>

        <div>
            <h3 class="font-bold text-xl mb-2">
                Плюсы:
            </h3>

            <ol class="list-decimal list-inside mb-3 ml-4">
                <li>Опытный и талантливый Gamedev получает достойную заработную плату.</li>

                <li>Сделать игру своей работой – такое возможно в очень ограниченном кругу профессий.</li>

                <li>Игры для компьютеров и мобильных устройств пользуются популярностью, поэтому инвесторы охотно
                    вкладывают
                    средства в продвижение игровых программных продуктов.
                </li>

                <li>Зная языки программирования, программы для создания 3D-графики, основы разработки мобильных
                    приложений и
                    другие направления, связанные с профессией, специалист сможет попробовать свои силы в каждой из этих
                    сфер.
                </li>

                <li>Творческая работа с возможностью самовыражаться.</li>
            </ol>

            <h3 class="font-bold text-xl mb-2">
                Минусы:
            </h3>

            <ol class="list-decimal mb-2 list-inside ml-4">
                <li>В крупных студиях приходится отодвигать свои амбиции и творческие замыслы на второй план, ставя на
                    первое
                    место требования инвестора или заказчика.
                </li>

                <li>Ответственность за коммерческий успех.</li>
            </ol>
        </div>
    </section>

    <section class="border-b border-gray-300 pb-3 mb-3">
        <h2 class="font-bold text-2xl mb-3 ml-4">
            Деньги и зарплаты в геймдеве
        </h2>

        <p class="mb-2">
            По финансовым показателям гейм-индустрия сегодня сопоставима с голливудскими блокбастерами: бюджеты топовых
            игр измеряются сотнями миллионов долларов, но и прибыль, которую они приносят создателям, впечатляет.
            Например, больше всего денег в этой отрасли было затрачено на разработку Grand Theft Auto 5 – 265 млн
            долларов США, был задействован труд более 1000 различных специалистов. Вложения окупились с лихвой:
            обладатели прав реализовали более 90 млн копий на 6 млрд долларов.
        </p>

        <p class="mb-2">
            Eсли говорить о более скромных масштабах, стоит упомянуть Minecraft, над которым работал только один человек
            на протяжении двух лет. Позже к нему присоединились еще двое, а спустя всего несколько лет им удалось
            продать 54 млн копий.
        </p>

        <p class="mb-2">
            На портале App2Top можно найти массу актуальных сведений о современном положении дел в игровой индустрии
            России и в других странах постсоветского пространства. Так, Mail.ru Group, один из крупнейших отечественных
            разработчиков, заявил, что с апреля по июнь 2020 года его прибыль составила 11 млрд рублей. Основной доход
            был получен от реализации Warface, а также мобильных игр War Robots и Hustle Castle.
        </p>


    </section>

    <section class="border-b border-gray-300 pb-3 mb-3">
        <h2 class="font-bold text-2xl mb-3 ml-4">
            Начало карьеры разработчика игр
        </h2>

        <p class="mb-2">
            Чаще всего ряды девелоперов пополняют завзятые геймеры, которые не хотят довольствоваться готовыми
            продуктами игровой индустрии и стремятся привнести в нее что-то свое. Первым шагом может стать модификация
            игры, которой они увлечены, затем появляется идея собственного проекта. Для ее реализации накапливаются
            недостающие знания и навыки, и со временем любимое занятие становится не менее любимой работой.
        </p>

        <p class="mb-2">
            Начинающие разработчики могут пойти разными путями. Некоторые разбираются в специальности своими силами,
            уходят в Indie и реализуют собственные проекты. Другие создают портфолио, с которым начинают поиски
            работодателя.
        </p>

        <p class="mb-2">
            Самый простой способ стать членом команды гейм-девелоперов – поработать некоторое время в других
            подразделениях компании-издателя.
        </p>

        <p class="mb-2">
            Это позволяет новичкам набраться опыта на выполнении рутинных операций и решении несложных задач. При
            желании можно попробовать свои силы в разных направлениях: начать тестировщиком, затем освоить азы
            гейм-дизайна. Хороший разработчик хотя бы в общих чертах разбирается во всех составляющих такого непростого
            проекта как создание новой компьютерной игры.
        </p>
    </section>

    <section>
        <h2 class="font-bold text-2xl mb-3 ml-4">
            Места поиска работы для разработчика игр
        </h2>

        <p class="mb-2">
            Попытки начинающих девелоперов справиться с проектом в одиночку редко завершаются успешно. У таких
            фрилансеров недостаточно знаний и опыта, и хотя они назначаются за свои услуги низкую цену, что привлекает
            клиентов, результат редко устраивает требовательного заказчика. Оптимальный вариант для старта карьеры в
            этой отрасли – участие в реализации проекта под руководством опытных разработчиков.
        </p>

        <p class="mb-2">
            Найти такие команды профессионалов можно в студиях. Начать освоение премудростей гейм-девелопмента можно с
            позиции стажера или специалиста уровня junior.
        </p>
    </section>

{% endblock %}